## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
egpaper_for_review.pdf

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
